
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 50px;
		text-align: center;
		
		[class*='owl-'] {
			margin-left: 5px;
			display: inline-block;
			cursor: pointer;
		}
		.disabled {
			opacity: 0.2;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}
	.owl-dots {
		text-align: center;
		
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: 15px;
				height: 15px;
				margin: 5px;
				background: #fff;
				opacity: 0.2;
				display: block;
				transition: opacity 200ms ease;
				border-radius: 15px;
			}

			&.active,
			&:hover {
				span {
					opacity: 1;
				}
			}
		}
	}
}