.background {
	background: center 0 no-repeat;
    background-size: cover;
	padding: 145px 0;
}

.header {
    background: url("../img/web/bg37.jpg") center 40% no-repeat;
    background-size: cover;
}

.quote {background-image: url("../img/bg.jpg");}