.btn {
	display: inline-block;
	border: 2px solid $primary-color;
	transition-duration: .4s;
	color: $header-color;
	cursor: pointer;

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $color;
	}
}