.fact {
  width: 170px;
  font-weight: 700;
  color: $color;
  font-size: 25px;
  float: left;
  margin-left: 163.33px;
  
  &:first-child {
    margin-left: 0;
  }
  
  & .icon {
    color: $color;
    line-height: 170px;
    font-size: 1.5em;
    border: 2px solid $primary-color;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    transition-duration: .4s;
  }

  &:hover {
    .icon {
      border: 2px solid $color;
      color: $primary-color;
    }
  }

  & strong {
    font-size: 45px;
    margin-top: 30px;
    display: inline-block;
  }
}


