.skew {
	&:before,
	&:after {
		content: "";
		background-color: #fff;
		height: 100px;
		width: 100%;
		display: block;
		transform: skewY(-2deg);
		transform-origin: left 0;
		position: relative;
		z-index: 100;
	}
	&:after {
		transform-origin: right 0;
	}
	
}