/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$chevron-left-name: 'chevron-left';
$chevron-left-x: 10px;
$chevron-left-y: 75px;
$chevron-left-offset-x: -10px;
$chevron-left-offset-y: -75px;
$chevron-left-width: 7px;
$chevron-left-height: 12px;
$chevron-left-total-width: 98px;
$chevron-left-total-height: 93px;
$chevron-left-image: '../img/sprite.png';
$chevron-left: (10px, 75px, -10px, -75px, 7px, 12px, 98px, 93px, '../img/sprite.png', 'chevron-left', );
$chevron-right-name: 'chevron-right';
$chevron-right-x: 52px;
$chevron-right-y: 60px;
$chevron-right-offset-x: -52px;
$chevron-right-offset-y: -60px;
$chevron-right-width: 7px;
$chevron-right-height: 12px;
$chevron-right-total-width: 98px;
$chevron-right-total-height: 93px;
$chevron-right-image: '../img/sprite.png';
$chevron-right: (52px, 60px, -52px, -60px, 7px, 12px, 98px, 93px, '../img/sprite.png', 'chevron-right', );
$cross-name: 'cross';
$cross-x: 82px;
$cross-y: 64px;
$cross-offset-x: -82px;
$cross-offset-y: -64px;
$cross-width: 10px;
$cross-height: 10px;
$cross-total-width: 98px;
$cross-total-height: 93px;
$cross-image: '../img/sprite.png';
$cross: (82px, 64px, -82px, -64px, 10px, 10px, 98px, 93px, '../img/sprite.png', 'cross', );
$dribbble-hover-name: 'dribbble-hover';
$dribbble-hover-x: 0px;
$dribbble-hover-y: 42px;
$dribbble-hover-offset-x: 0px;
$dribbble-hover-offset-y: -42px;
$dribbble-hover-width: 18px;
$dribbble-hover-height: 18px;
$dribbble-hover-total-width: 98px;
$dribbble-hover-total-height: 93px;
$dribbble-hover-image: '../img/sprite.png';
$dribbble-hover: (0px, 42px, 0px, -42px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'dribbble-hover', );
$dribbble-name: 'dribbble';
$dribbble-x: 36px;
$dribbble-y: 42px;
$dribbble-offset-x: -36px;
$dribbble-offset-y: -42px;
$dribbble-width: 18px;
$dribbble-height: 18px;
$dribbble-total-width: 98px;
$dribbble-total-height: 93px;
$dribbble-image: '../img/sprite.png';
$dribbble: (36px, 42px, -36px, -42px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'dribbble', );
$facebook-hover-name: 'facebook-hover';
$facebook-hover-x: 0px;
$facebook-hover-y: 75px;
$facebook-hover-offset-x: 0px;
$facebook-hover-offset-y: -75px;
$facebook-hover-width: 10px;
$facebook-hover-height: 18px;
$facebook-hover-total-width: 98px;
$facebook-hover-total-height: 93px;
$facebook-hover-image: '../img/sprite.png';
$facebook-hover: (0px, 75px, 0px, -75px, 10px, 18px, 98px, 93px, '../img/sprite.png', 'facebook-hover', );
$facebook-name: 'facebook';
$facebook-x: 54px;
$facebook-y: 42px;
$facebook-offset-x: -54px;
$facebook-offset-y: -42px;
$facebook-width: 10px;
$facebook-height: 18px;
$facebook-total-width: 98px;
$facebook-total-height: 93px;
$facebook-image: '../img/sprite.png';
$facebook: (54px, 42px, -54px, -42px, 10px, 18px, 98px, 93px, '../img/sprite.png', 'facebook', );
$film-name: 'film';
$film-x: 0px;
$film-y: 22px;
$film-offset-x: 0px;
$film-offset-y: -22px;
$film-width: 20px;
$film-height: 20px;
$film-total-width: 98px;
$film-total-height: 93px;
$film-image: '../img/sprite.png';
$film: (0px, 22px, 0px, -22px, 20px, 20px, 98px, 93px, '../img/sprite.png', 'film', );
$google-hover-name: 'google-hover';
$google-hover-x: 46px;
$google-hover-y: 0px;
$google-hover-offset-x: -46px;
$google-hover-offset-y: 0px;
$google-hover-width: 18px;
$google-hover-height: 18px;
$google-hover-total-width: 98px;
$google-hover-total-height: 93px;
$google-hover-image: '../img/sprite.png';
$google-hover: (46px, 0px, -46px, 0px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'google-hover', );
$google-name: 'google';
$google-x: 18px;
$google-y: 42px;
$google-offset-x: -18px;
$google-offset-y: -42px;
$google-width: 18px;
$google-height: 18px;
$google-total-width: 98px;
$google-total-height: 93px;
$google-image: '../img/sprite.png';
$google: (18px, 42px, -18px, -42px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'google', );
$handset-name: 'handset';
$handset-x: 0px;
$handset-y: 0px;
$handset-offset-x: 0px;
$handset-offset-y: 0px;
$handset-width: 23px;
$handset-height: 22px;
$handset-total-width: 98px;
$handset-total-height: 93px;
$handset-image: '../img/sprite.png';
$handset: (0px, 0px, 0px, 0px, 23px, 22px, 98px, 93px, '../img/sprite.png', 'handset', );
$linkedin-hover-name: 'linkedin-hover';
$linkedin-hover-x: 64px;
$linkedin-hover-y: 0px;
$linkedin-hover-offset-x: -64px;
$linkedin-hover-offset-y: 0px;
$linkedin-hover-width: 18px;
$linkedin-hover-height: 18px;
$linkedin-hover-total-width: 98px;
$linkedin-hover-total-height: 93px;
$linkedin-hover-image: '../img/sprite.png';
$linkedin-hover: (64px, 0px, -64px, 0px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'linkedin-hover', );
$linkedin-name: 'linkedin';
$linkedin-x: 46px;
$linkedin-y: 18px;
$linkedin-offset-x: -46px;
$linkedin-offset-y: -18px;
$linkedin-width: 18px;
$linkedin-height: 18px;
$linkedin-total-width: 98px;
$linkedin-total-height: 93px;
$linkedin-image: '../img/sprite.png';
$linkedin: (46px, 18px, -46px, -18px, 18px, 18px, 98px, 93px, '../img/sprite.png', 'linkedin', );
$location-name: 'location';
$location-x: 82px;
$location-y: 46px;
$location-offset-x: -82px;
$location-offset-y: -46px;
$location-width: 12px;
$location-height: 18px;
$location-total-width: 98px;
$location-total-height: 93px;
$location-image: '../img/sprite.png';
$location: (82px, 46px, -82px, -46px, 12px, 18px, 98px, 93px, '../img/sprite.png', 'location', );
$mail-name: 'mail';
$mail-x: 36px;
$mail-y: 60px;
$mail-offset-x: -36px;
$mail-offset-y: -60px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 98px;
$mail-total-height: 93px;
$mail-image: '../img/sprite.png';
$mail: (36px, 60px, -36px, -60px, 16px, 12px, 98px, 93px, '../img/sprite.png', 'mail', );
$phone-name: 'phone';
$phone-x: 82px;
$phone-y: 0px;
$phone-offset-x: -82px;
$phone-offset-y: 0px;
$phone-width: 16px;
$phone-height: 16px;
$phone-total-width: 98px;
$phone-total-height: 93px;
$phone-image: '../img/sprite.png';
$phone: (82px, 0px, -82px, 0px, 16px, 16px, 98px, 93px, '../img/sprite.png', 'phone', );
$pinterest-hover-name: 'pinterest-hover';
$pinterest-hover-x: 64px;
$pinterest-hover-y: 38px;
$pinterest-hover-offset-x: -64px;
$pinterest-hover-offset-y: -38px;
$pinterest-hover-width: 16px;
$pinterest-hover-height: 20px;
$pinterest-hover-total-width: 98px;
$pinterest-hover-total-height: 93px;
$pinterest-hover-image: '../img/sprite.png';
$pinterest-hover: (64px, 38px, -64px, -38px, 16px, 20px, 98px, 93px, '../img/sprite.png', 'pinterest-hover', );
$pinterest-name: 'pinterest';
$pinterest-x: 64px;
$pinterest-y: 18px;
$pinterest-offset-x: -64px;
$pinterest-offset-y: -18px;
$pinterest-width: 16px;
$pinterest-height: 20px;
$pinterest-total-width: 98px;
$pinterest-total-height: 93px;
$pinterest-image: '../img/sprite.png';
$pinterest: (64px, 18px, -64px, -18px, 16px, 20px, 98px, 93px, '../img/sprite.png', 'pinterest', );
$rss-hover-name: 'rss-hover';
$rss-hover-x: 82px;
$rss-hover-y: 31px;
$rss-hover-offset-x: -82px;
$rss-hover-offset-y: -31px;
$rss-hover-width: 15px;
$rss-hover-height: 15px;
$rss-hover-total-width: 98px;
$rss-hover-total-height: 93px;
$rss-hover-image: '../img/sprite.png';
$rss-hover: (82px, 31px, -82px, -31px, 15px, 15px, 98px, 93px, '../img/sprite.png', 'rss-hover', );
$rss-name: 'rss';
$rss-x: 82px;
$rss-y: 16px;
$rss-offset-x: -82px;
$rss-offset-y: -16px;
$rss-width: 15px;
$rss-height: 15px;
$rss-total-width: 98px;
$rss-total-height: 93px;
$rss-image: '../img/sprite.png';
$rss: (82px, 16px, -82px, -16px, 15px, 15px, 98px, 93px, '../img/sprite.png', 'rss', );
$slideshow-name: 'slideshow';
$slideshow-x: 20px;
$slideshow-y: 22px;
$slideshow-offset-x: -20px;
$slideshow-offset-y: -22px;
$slideshow-width: 22px;
$slideshow-height: 18px;
$slideshow-total-width: 98px;
$slideshow-total-height: 93px;
$slideshow-image: '../img/sprite.png';
$slideshow: (20px, 22px, -20px, -22px, 22px, 18px, 98px, 93px, '../img/sprite.png', 'slideshow', );
$slideshow2-name: 'slideshow2';
$slideshow2-x: 23px;
$slideshow2-y: 0px;
$slideshow2-offset-x: -23px;
$slideshow2-offset-y: 0px;
$slideshow2-width: 23px;
$slideshow2-height: 19px;
$slideshow2-total-width: 98px;
$slideshow2-total-height: 93px;
$slideshow2-image: '../img/sprite.png';
$slideshow2: (23px, 0px, -23px, 0px, 23px, 19px, 98px, 93px, '../img/sprite.png', 'slideshow2', );
$top-name: 'top';
$top-x: 59px;
$top-y: 60px;
$top-offset-x: -59px;
$top-offset-y: -60px;
$top-width: 12px;
$top-height: 7px;
$top-total-width: 98px;
$top-total-height: 93px;
$top-image: '../img/sprite.png';
$top: (59px, 60px, -59px, -60px, 12px, 7px, 98px, 93px, '../img/sprite.png', 'top', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 0px;
$twitter-hover-y: 60px;
$twitter-hover-offset-x: 0px;
$twitter-hover-offset-y: -60px;
$twitter-hover-width: 18px;
$twitter-hover-height: 15px;
$twitter-hover-total-width: 98px;
$twitter-hover-total-height: 93px;
$twitter-hover-image: '../img/sprite.png';
$twitter-hover: (0px, 60px, 0px, -60px, 18px, 15px, 98px, 93px, '../img/sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 18px;
$twitter-y: 60px;
$twitter-offset-x: -18px;
$twitter-offset-y: -60px;
$twitter-width: 18px;
$twitter-height: 15px;
$twitter-total-width: 98px;
$twitter-total-height: 93px;
$twitter-image: '../img/sprite.png';
$twitter: (18px, 60px, -18px, -60px, 18px, 15px, 98px, 93px, '../img/sprite.png', 'twitter', );
$spritesheet-width: 98px;
$spritesheet-height: 93px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($chevron-left, $chevron-right, $cross, $dribbble-hover, $dribbble, $facebook-hover, $facebook, $film, $google-hover, $google, $handset, $linkedin-hover, $linkedin, $location, $mail, $phone, $pinterest-hover, $pinterest, $rss-hover, $rss, $slideshow, $slideshow2, $top, $twitter-hover, $twitter, );
$spritesheet: (98px, 93px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
