.header {
	position: relative;
	background-color: rgba(0,0,0, 0.25);
}

.header-logo {
	@include icon-cercle(2, $color, 150);
	float: left;
	font-family: Montserrat, Open Sans;
	text-transform: uppercase;
	font-size: 45px;
	color: $color;
}

.navbar {
	padding-top: 30px;

	.wraper{
		width: 1170px;
		margin: 0 auto;
	}
}

.menu {
	float: right;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.06em;
	transition-duration: .3s;
	margin: 0 -76px;
  	margin-top: 60px;
  	color: #FFF;

	.menu-item {
		transition-duration: .3s;
		margin: 0 38px;
		
		&:hover {
			color: $header-color;
		}
		
	}
}

.current {
	padding-bottom: 5px;
	border-bottom: 2px solid $primary-color;
	transition-duration: .3s;
}

.fixed {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	z-index: 9999;
	background-color: #FFF;
	border-bottom: 1px solid gainsboro;
	margin-top: 0px;
	padding-top: 5px;
	
	.header-logo {
		@include icon-cercle(2, $header-color, 70);
		font-size: 19px;
		color: $header-color;
	}
	
	.menu {
		margin: 0 -76px;
		margin-top: 20px;
		color: $header-color;
	}

	.menu-item{
		color: $header-color;
		margin: 0 38px;

		&:hover { color: $primary-color; }

		&:before {
			color: #000;
		}
	}
}

.banner {
	text-transform: uppercase;
	color: $color;
	margin: 100px 0 60px;
}

.banner-light {
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	letter-spacing: 0.2em;
	
	&-2 {
		font-size: 40px;
		letter-spacing: -0.03em;
		line-height: 60px;
		margin-bottom: 80px;
		font-weight: 300;
	}
}

.banner-bold {
	font-family: Open Sans;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -0.06em;
}

.btn-header {
	border-color: $color;
	color: $color;
	padding: 13px 40px;
	
	&:hover {border-color: $primary-color;}
}