.quote {

	blockquote {
		color: $color;
		font-size: 45px;
		font-weight: 700;
		line-height: 60px;
		position: relative;
		padding: 0 40px;
		
		&:before, &:after {
			font-size: 110px;
			position: absolute;
			top: 10px;
		}

		&:before { 
			content: "“";
			left: 0;
		}

		&:after { 
			content: "”";
			right: 0;
		}
	}

	cite {
		color: $color;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 60px;
		font-weight: 700;
		font-style: normal;
		
		&:before {
			content: "";
			margin: 0 auto;
			display: block;
			width: 50px;
			height: 4px;
			background-color: $primary-color;
		}
	}
}